body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131314;
    color: white;
    background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(29, 34%, 14%, 1) 35%, hsla(29, 100%, 9%, 1) 100%);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

header {
    margin-bottom: 40px;
}

h1 {
    color: #ff8c00;
    font-size: 2.5em;
    margin: 0;
}

h2 {
    color: #ff8c00;
    margin-top: 20px;
}

input[type="text"], input[type="number"], input[type="color"] {
    width: calc(100% - 20px); /* Adjust width to prevent overlay */
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #201f1e;
    color: white;
}

button {
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

button:hover:enabled {
    background-color: #ff5800;
}

#preview, #output {
    padding: 20px;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #201f1e;
    margin-bottom: 20px;
}

.formatting-options {
    display: flex;
    flex-direction: column;
}

.color-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.color-input {
    margin-right: 10px; /* Space between color input and text box */
}

.color-label {
    width: 100px; /* Fixed width for the label */
}

.color-pair {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}