@import url(../../assets/css/fontawesome-all.min.css);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131314;
    color: white;
    font-family: 'Arial', sans-serif;
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(29, 34%, 14%, 1) 35%, hsla(29, 100%, 9%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(29, 34%, 14%, 1) 35%, hsla(29, 100%, 9%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(29, 34%, 14%, 1) 35%, hsla(29, 100%, 9%, 1) 100%);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    max-width: 55%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

#container button {
    align-self: flex-start;
}


header {
    width: 100%;
    margin-bottom: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
}

.sub {
    font-size: 0.9em;
    color: #fDB44E;
    margin: 5px 0px;
    text-align: right;
    font-style: italic;
    max-width: 200px;
}

h1 {
    color: #ff8c00;
    font-size: 2.5em;
    margin: 0;
}

h2 {
    color: #FDB44E;
    font-size: 1em;
    margin: 0;
}

h3, h5 {
    color: #ff8c00;
}

.note {
    font-size: 0.9em;
    color: #ff8c00;
}

h5 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 30px;
}

button {
    font-weight: bold;
    padding: 10px;
    color: white;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover:enabled {
    background-color: #ff5800;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
    opacity: 0.7;
    box-shadow: none;
}

button:disabled:hover {
    background-color: #555;
    cursor: not-allowed;
    opacity: 0.7;
    box-shadow: none;
}

#error {
    font-family: Arial, sans-serif;
    color: red;
}

#errorPopup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

textarea, input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444444;
    border-radius: 5px;
    background-color: #201f1e;
    color: white;
}

/* Slider */
input[type="range"] {
    appearance: none; /* just to remove the warning */
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    background: linear-gradient(to right, #ff8c00, #ff5800);
    border-radius: 4px;
    outline: none;
    margin: 10px 0;
    cursor: pointer;
}

/* Slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #ff8c00;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s
}

input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

/* Firefox compatibility */
input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #ff8c00;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

input[type="range"]::-moz-range-thumb:hover {
    transform: scale(1.2);
}

/* Internet Explorer/Edge compatibility */
input[type="range"]::-ms-thumb {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 2px solid #ff8c00;
    border-radius: 50%;
    cursor: pointer;
}


#maxCharText {
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #282828;
    border: unset;
}

textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
}

input[type="range"] {
    width: 100%;
}

input[type="range"] {
    font-family: "Minecraft", sans-serif;
    margin-bottom: 10px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.back-button {
	position: fixed;
	top: 1em;
	left: 1em;
	background-color: #1f2224;
    color: #ff8c00;
	padding: 0.5em 1em;
    text-decoration: none;
	border: none;
	border-radius: 0.25em;
    transition: background-color 0.3s;
	cursor: pointer;
	z-index: 1001;

}

.back-button:hover {
	background-color: #242629;
}

.back-button i {
	font-size: 1.5em;
}

.tt {
    --tooltip-bg: #201f1e;
    --tooltip-border-radius: 4px;
    --tooltip-font-family: Menlo, sans-serif;
    --tooltip-font-size: 12px;
    --tooltip-text-color: #ffffff;
    --tooltip-padding-x: 7px;
    --tooltip-padding-y: 7px;
    --tooltip-offset: 8px;
    --tooltip-transition-duration: 0.3s;
    
    box-sizing: border-box;
    border-radius: var(--tooltip-border-radius);
    cursor: pointer;
    position: relative;
    outline: none;
}

.tooltip {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font: var(--tooltip-font-size) var(--tooltip-font-family);
    color: var(--tooltip-text-color);
    background: var(--tooltip-bg);
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    border: 1px solid #444444;
    border-radius: var(--tooltip-border-radius);
    pointer-events: none;
    transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
    content: attr(data-text-initial);
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: calc(var(--tooltip-padding-y) / 2 * -1);
    width: var(--tooltip-padding-y);
    height: var(--tooltip-padding-y);
    background: inherit;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -999;
    pointer-events: none;
    border: 1px solid #444444;
}

.tt:hover .tooltip,
.tt:focus:not(:focus-visible) .tooltip {
    opacity: 1;
    visibility: visible;
    top: calc((100% + var(--tooltip-offset)) * -1);
}

.tt:focus:not(:focus-visible) .tooltip::before {
    content: attr(data-text-end);
}

.tt:focus:not(:focus-visible) .clipboard {
    display: none;
}

.tt:focus:not(:focus-visible) .checkmark {
    display: block;
}

.tt:hover,
.tt:focus {
    background-color: var(--button-hover-bg);
}

.tt:active {
    outline: var(--button-outline-width) solid var(--button-outline-color);
}

.tt:hover svg {
    color: var(--button-hover-text-color);
}