@font-face {
    font-family: 'Minecraft';
    src: url(fonts/MinecraftiaRegular.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #131314;
    color: white;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 900px;
    padding: 20px;
    text-align: left;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

#container button {
    align-self: flex-start;
}


header {
    margin-bottom: 40px;
}

h1 {
    color: #ff8c00;
    font-size: 2.5em;
    text-align: left;
}

h3, h5 {
    color: #ff8c00;
}

.note {
    font-size: 0.9em;
    color: #ff8c00;
}

h5 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 30px;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #1E1F20;
    color: white;
}

button {
    font-family: "Minecraft", sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

button:disabled {
    background-color: #555;
    cursor: not-allowed;
    opacity: 0.7;
}

button:hover:enabled {
    background-color: #ff5800;
}


#error {
    color: red;
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

textarea {
    /* font-family: "Minecraft", sans-serif; */
    height: 200px;
    resize: vertical;
}

input[type="range"] {
    /* font-family: "Minecraft", sans-serif; */
    width: 100%;
}

input[type="text"] {
    /* font-family: "Minecraft", sans-serif; */
    height: 40px;
}

input[type="range"], #maxCharText {
    /* font-family: "Minecraft", sans-serif; */
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: #282828;
    border: unset;
}

input[type="range"] {
    font-family: "Minecraft", sans-serif;
    margin-bottom: 10px;
}