@import url(../../assets/css/fontawesome-all.min.css);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131314;
    color: white;
    background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(29, 34%, 14%, 1) 35%, hsla(29, 100%, 9%, 1) 100%);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    max-width: 55%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
	background-color: none;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

input, select, button {
    background: #201f1e;
    color: #ffffff;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #ff5800;
}

button {
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    background-color: #ff8c00;
    color: #201f1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

button:hover {
    background-color: #ff5800;
    border-color: #ff5800;
}

h1 {
    color: #ff8c00;
    font-size: 2.5em;
    margin: 0;
}

h2 {
    color: #FDB44E;
    font-size: 1em;
    margin: 0;
}

h3, h5 {
    color: #ff8c00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ff8c00;
}

th {
    background-color: #201f1e;
    color: #ff8c00;
    font-weight: bold;
}

td {
    background-color: #2a2928;
    color: #ff8c00;
}

td input[type="text"] {
    max-width: 200px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    background-color: #201f1e;
    color: #ff8c00;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    margin-bottom: 5px;
}

td button {
    padding: 8px;
    font-size: 16px;
    background-color: #ff8c00;
    color: #201f1e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

td button:hover {
    background-color: #ff5800;
}

.note {
    font-size: 0.9em;
    color: #ff8c00;
}

section {
    margin-bottom: 30px;
}

#current {
    align-self: flex-start;
}

#preview {
    color: #ff8c00;
}

#code {
    font-family: monospace;
    background-color: #201f1e;
    color: #ff8c00;
    padding: 10px;
    border-radius: 5px;
}

#notif {
    font-family: Arial, sans-serif;
    color: red;
}

#notifPopup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

@media (max-width: 50rem) {
    .container {
        width: 90%;
    }
}