@import url(../../assets/css/fontawesome-all.min.css);

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131314;
    color: white;
    background: linear-gradient(45deg, hsla(0, 0%, 0%, 1) 0%, hsla(29, 34%, 14%, 1) 35%, hsla(29, 100%, 9%, 1) 100%);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    max-width: 55%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
    background-color: none;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

input,
select,
button {
    background: #201f1e;
    color: #ffffff;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input:focus,
select:focus,
button:focus {
    outline: none;
    border-color: #ff5800;
}

input[type="date"],
input[type="time"] {
    color: #ffffff;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

button {
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    background-color: #ff8c00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

button:hover {
    background-color: #ff5800;
    border-color: #ff5800;
}

h1 {
    color: #ff8c00;
    font-size: 2.5em;
    margin: 0;
}

h2 {
    color: #FDB44E;
    font-size: 1em;
    margin: 0;
}

h3,
h5 {
    color: #ff8c00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ff8c00;
}

th {
    background-color: #201f1e;
    color: #ff8c00;
    font-weight: bold;
}

td {
    background-color: #2a2928;
    color: #ff8c00;
}

td input[type="text"] {
    width: 90%;
    padding: 8px;
    font-size: 16px;
    background-color: #201f1e;
    color: #ff8c00;
    border: 1px solid #ff8c00;
    border-radius: 5px;
    margin-bottom: 5px;
}

td button {
    padding: 8px;
    font-size: 16px;
    background-color: #ff8c00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

td button:hover {
    background-color: #ff5800;
}

.note {
    font-size: 0.9em;
    color: #ff8c00;
}

section {
    margin-bottom: 30px;
}

#preview {
    color: #ff8c00;
}

#code {
    font-family: monospace;
    background-color: #201f1e;
    color: #ff8c00;
    padding: 10px;
    border-radius: 5px;
}

#notif {
    font-family: Arial, sans-serif;
    color: red;
}

#notifPopup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

.feedback-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ff8c00;
    color: white;
    padding: 16px 32px;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 600;
    z-index: 1000;
    border: none;
    transition: all 0.3s ease;
    margin: 10px;
}

.feedback-button:hover {
    background: #ff5800;
}

@media (max-width: 600px) {
    .feedback-button {
        position: relative;
        display: block;
        width: calc(100% - 40px);
        font-size: 1.5rem;
        margin: 20px auto;
    }
}

.popup {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    background: #201f1e;
    border-radius: 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    z-index: 1001;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
}

.popup.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.popup h1 {
    margin-bottom: 20px;
    color: #ff8c00;
    text-align: center;
}

.popup label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #ff8c00;
    text-align: left;
    width: 100%;
}

.popup input,
.popup textarea {
    width: calc(100% - 30px);
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #444444;
    margin-bottom: 20px;
    font-size: 1rem;
    background-color: #282828;
    color: white;
    transition: all 0.3s ease;
}

.popup input:focus,
.popup textarea:focus {
    outline: none;
    border-color: #ff8c00;
    box-shadow: 0 0 0 3px rgba(255, 140, 0, 0.2);
}

.popup button {
    background: #ff8c00;
    color: white;
    border: none;
    padding: 16px 32px;
    border-radius: 100px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.popup button:hover {
    background: #ff5800;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 140, 0, 0.3);
}

.notification {
    margin-top: 20px;
    background: #ff0000;
    color: white;
    padding: 16px 25px;
    border-radius: 8px;
    opacity: 0;
    display: none;
    transition: opacity 0.4s ease-out;
    font-weight: 600;
    text-align: center;
}

.notification.show {
    display: block;
    opacity: 1;
    transition: opacity 0.4s ease-in;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.checkbox-container {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #282828;
    border-radius: 12px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border: 2px solid #3d3d3d;
}

.checkbox-container input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.checkbox-container:hover {
    background-color: #333333;
    border-color: #ff8c00;
}

.checkbox-container input:checked~.label-text {
    color: #ff8c00;
}

.checkbox-container.checked {
    background-color: #333333 !important;
    border-color: #ff8c00 !important;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
    .container {
        max-width: 90%;
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 0.9em;
    }

    input,
    select,
    button {
        width: 100%;
        padding: 12px;
    }

    td input[type="text"] {
        max-width: 90%;
    }

    td button {
        width: 100%;
    }

    .popup {
        width: 90%;
        padding: 20px;
    }

    .feedback-button {
        width: 80%;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
    }

    #container {
        flex-direction: column;
        align-items: stretch;
    }

    .use-current-time {
        margin-top: 10px;
        width: 100%;
    }
}